* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.header-group {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.nav-list-item {
  width: 120px;
  list-style: none;
  display: inline-block;
  line-height: 70px;
  padding: 0 30px;
  font-size: 16px;
  color: #fafafa;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-color: yellow;
}
.portfolio {
  height: 1000px;
  background-color: #eceff1;
}

.feature {
  height: 800px;
  background-color: lightblue;
}

.profile {
  height: 500px;
  background-color: #eceff1;
}

.contact {
  height: 500px;
  background-color: lightgreen;
}

footer {
  height: 60px;
  background-color: #ec715f;
}
