* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.header-group {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.nav-list-item {
  width: 120px;
  list-style: none;
  display: inline-block;
  line-height: 70px;
  padding: 0 30px;
  font-size: 16px;
  color: #fafafa;
}

/* main-visual */
#main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.mv-title {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
}

.mv-text {
  margin: 10px;
  font-size: 20px;
  color: #fafafa;
}

/* main,portfolio */
#portfolio {
  height: 1000px;
  background-color: #eceff1;
}

.heading {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #000000;
  font-family: "Raleway", sans-serif;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.heading-text {
  margin: 30px auto 30px auto;
  text-align: center;
  font-size: 16px;
}

.feature {
  height: 800px;
  background-color: lightblue;
}

.profile {
  height: 500px;
  background-color: #eceff1;
}

.contact {
  height: 500px;
  background-color: lightgreen;
}

footer {
  height: 60px;
  background-color: #ec715f;
}
