* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.header-group {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.nav-list-item {
  width: 120px;
  list-style: none;
  display: inline-block;
  line-height: 70px;
  padding: 0 30px;
  font-size: 16px;
  color: #fafafa;
}

/* main-visual */
#main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.mv-title {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
}

.mv-text {
  margin: 10px;
  font-size: 20px;
  color: #fafafa;
}

/* main,portfolio */
#portfolio {
  background-color: #eceff1;
}

/* portfolio,feature共通 */
.heading {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #000000;
  font-family: "Raleway", sans-serif;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.heading-text {
  margin: 30px auto 30px auto;
  text-align: center;
  font-size: 16px;
}
/* portfolio,feature共通ここまで */

.boxes {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
}

.box {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
}

.box:nth-child(3),
.box:last-child {
  margin-right: 0;
}

.box:nth-last-child(-n + 3) {
  margin-bottom: 90px;
}

.box:nth-child(1) {
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.box:nth-child(2) {
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.box:nth-child(3) {
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}

.box:nth-child(4) {
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}

.box:nth-child(5) {
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}

.box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

/* main,feature */
.strength-boxes {
  display: flex;
  width: 980px;
  margin: 0 auto;
}

.strength {
  height: 320px;
  margin-right: 10px;
  margin-bottom: 90px;
  font-size: 60px;
  text-align: center;
}

.strength:last-child {
  margin-right: 0;
}

.fa-code::before {
  content: "\f121";
  font-family: FontAwesome;
}

.fa-desktop::before {
  content: "\f108";
  font-family: FontAwesome;
}

.fa-cogs::before {
  content: "\f085";
  font-family: FontAwesome;
}

.strength-title {
  margin: 10px 0 10px 0;
  font-size: 20px;
}

.strength-text {
  font-size: 16px;
  text-align: left;
}

/* main,profile */
#profile {
  background-color: #eceff1;
}

.profile-box {
  display: flex;
  padding-bottom: 90px;
}

/* profile,contact */
.left-content {
  width: 50%;
}

.profile-image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
}

/* profile,contact */
.right-content {
  width: 50%;
}

.description-title {
  margin: 20px 0 5px 0;
}

.description-title:first-child {
  margin-top: 0px;
}

.description-text {
  font-size: 16px;
}

/* contact */
.contact-box {
  display: flex;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.left-contact-content {
  width: 130px;
  margin: 0 auto;
}

.right-contact-content {
  width: 170px;
  margin: 0 auto;
}

.right-contact-content .fab {
  font-size: 50px;
  margin-right: 20px;
}

.fab-facebook::before {
  content: "\f39e";
  font-family: FontAwesome;
}

.fab-twitter::before {
  content: "\f099";
  font-family: FontAwesome;
}

.fab-instagram::before {
  content: "\f16d";
  font-family: FontAwesome;
}

footer {
  height: 60px;
  background-color: #ec715f;
}

.footer-text {
  font-size: 16px;
  color: #fafafa;
  text-align: center;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  header {
    width: 90%;
    height: 50px;
  }

  .logo {
    height: 50px;
  }

  #main-visual {
    width: 90%;
    background-image: url(img/code.png);
  }

  .mv-text {
    font-size: 40px;
  }

  .mv-text {
    font-size: 18px;
  }

  #portfolio {
    width: 90%;
  }

  .boxes {
    display: block;
    padding-bottom: 90px;
  }

  .box {
    margin-right: 0px;
  }

  .box:nth-child(1),
  .box:nth-child(3),
  .box:nth-child(5) {
    display: none;
  }

  .box:nth-child(4) {
    margin-bottom: 10px;
  }

  .box:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}
