* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #ec715f;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-color: yellow;
}
.portfolio {
  height: 1000px;
  background-color: #eceff1;
}

.feature {
  height: 800px;
  background-color: lightblue;
}

.profile {
  height: 500px;
  background-color: #eceff1;
}

.contact {
  height: 500px;
  background-color: lightgreen;
}

footer {
  height: 60px;
  background-color: #ec715f;
}
